<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios - SISTEMA BANCARIO</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: url("./imagen/ahorro.jpg");
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        color: #5171b4;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(52, 77, 100, 0.548);
        font-weight: bold;
        font-size: 40px;
      }
      h2 {
        color: #4064b3;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(52, 77, 100, 0.548);
        font-weight: bold;
        font-size: 25px;
      }

      ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        max-width: 600px;
        background-color: #716bbe;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        border-radius: 8px;
        margin-bottom: 20px;
      }
      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s;
      }
      li:last-child {
        border-bottom: none;
      }
      li:hover {
        background-color: #e3b2f2;
      }
      .form-container {
        width: 100%;
        max-width: 600px;
        box-shadow: 0 0 25px rgba(9, 0, 0, 0.9);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
      }
      .form-container label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #42235a;
      }
      .form-container input {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
      .form-container button {
        padding: 10px 20px;
        background-color: #995bc2;
        color: #fff;
        border: none;
        border-radius: 28px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .form-container button:hover {
        background-color: #995bc2;
      }

      .edit-button,
      .delete-button {
        padding: 3px;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .edit-button {
        background-color: #d652d0;
      }
      .edit-button:hover {
        background-color: #81298d;
      }
      .delete-button {
        background-color: #da4b4b;
      }
      .delete-button:hover {
        background-color: #b71c1c;
      }
      .message {
        display: none;
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-size: 10px;
      }
      .message.success {
        background-color: #d4edda;
        color: #8959b1;
      }
      .nav {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
        gap: 10px;
      }
      .nav a {
        text-decoration: none;
        color: #fff;
        background-color: #995bc2;
        padding: 10px 20px;
        border-radius: 20px;
        transition: background-color 0.3s;
      }
      .nav a:hover {
        background-color: #713797;
      }
    </style>
  </head>
  <body>
    <h1>SISTEMA BANCARIO</h1>
    <h2>USUARIOS</h2>

    <div id="message" class="message success">
      Refresca la página para ver los cambios
    </div>

    <div class="form-container">
      <h2>Agregar Nuevo Usuario</h2>
      <form id="add-user-form" onsubmit="addUser(event)">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="pasword">Pasword:</label>
        <input type="email" id="pasword" name="pasword" required />

        <label for="rol">Rol:</label>
        <select id="rol" name="rol" required>
          <option value="admin">Admin</option>
          <option value="cajero">Cajero</option>
          <option value="cliente">Cliente</option>
        </select>

        <button type="submit">Agregar Usuario</button>
      </form>
    </div>
    <div class="nav">
      <a href="/">Inicio</a>
      <a href="/cooperativas">Cooperativas</a>
    </div>
    <div
      class="form-container"
      id="edit-user-form-container"
      style="display: none"
    >
      
      </form>
    </div>
    
    <script>
      function showMessage(message, type) {
        const messageDiv = document.getElementById("message");
        messageDiv.textContent = message;
        messageDiv.className = "message " + type;
        messageDiv.style.display = "block";
        setTimeout(() => {
          messageDiv.style.display = "none";
        }, 3001);
      }

      function addUser(event) {
        event.preventDefault();

        const id = document.getElementById("id").value;
        const nombre = document.getElementById("nombre").value;
        const pasword = document.getElementById("pasword").value;

        fetch("http://localhost:3001/usuarios", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id, nombre, pasword }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              showMessage(
                "Usuario agregado exitosamente. Refresca la página para ver los cambios.",
                "success"
              );
            }
          });
      }

      
    </script>
  </body>
</html>
