<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="flex">
      <header class="bg-primary">
        <div
          class="container"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div class="grid md:grid-cols-2">
            <div class="space-y-4">
              <h1 class="text-3xl" style="font-size: 80px; text-align: center">
                SISTEMA BANCARIO SOCIAL
              </h1>
              <p class="text-lg" style="text-align: center">
                En PigBank, nos apasiona ayudarte a alcanzar tus metas
                financieras. Somos un banco moderno y confiable que ofrece una
                amplia gama de productos y servicios para satisfacer las
                necesidades de individuos, empresas y entidades gubernamentales.
              </p>
            </div>
            <div
              style="
                width: 100%;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div
                class="item-actions"
                style="flex-direction: column; align-items: center; width: auto"
              >
                <button
                  class="btn"
                  style="width: 300px; height: 80px; font-size: larger" onclick="window.location.href='/usuarios'"
                >
                  Registrate
                </button>
                <button
                  class="btn"
                  style="width: 300px; height: 80px; font-size: larger" onclick="window.location.href='/login'"
                >
                  Iniciar sesion
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <section class="container" style="display: flex; flex-direction: column;">
          <div class="grid md:grid-cols-3 gap-8" style="justify-content: center; align-items: center;">
            <div class="card" style="width: 100%">
              <div class="card-header">
                <h3>Cuentas de Ahorro</h3>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    Cuentas de Ahorro Tradicionales: Gana intereses competitivos
                    sobre tus ahorros con nuestras cuentas de ahorro
                    tradicionales.
                  </li>
                  <li>
                    Cuentas de Ahorro a Plazo Fijo: Obtén tasas de interés aún
                    más altas al depositar tu dinero por un período de tiempo
                    específico.
                  </li>
                  <li>
                    Cuentas de Ahorro para Niños: Enseña a los más pequeños la
                    importancia del ahorro con nuestras cuentas de ahorro
                    diseñadas para ellos.
                  </li>
                </ul>
              </div>
            </div>
            <div class="card" style="width: 100%">
              <div class="card-header">
                <h3>Préstamos</h3>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    Préstamos Personales: Obtén financiamiento para cubrir tus
                    necesidades personales, como la compra de un automóvil, la
                    renovación de tu hogar o la financiación de tus estudios.
                  </li>
                  <li>
                    Préstamos Hipotecarios: Haz realidad el sueño de tener tu
                    propia casa con nuestros préstamos hipotecarios flexibles y
                    accesibles.
                  </li>
                  <li>
                    Préstamos para Empresas: Impulsa tu negocio con nuestros
                    préstamos para empresas diseñados para ayudarte a invertir y
                    crecer.
                  </li>
                </ul>
              </div>
            </div>
            <div class="card"  style="width: 100%">
              <div class="card-header">
                <h3>Cooperativas</h3>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    Únete a nuestra cooperativa de ahorro y crédito: Disfruta de
                    los beneficios de ser miembro de nuestra cooperativa, como
                    tasas de interés más bajas en préstamos y mayores dividendos
                    sobre tus ahorros.
                  </li>
                  <li>
                    Participa en nuestros programas de educación financiera:
                    Aprende a administrar tus finanzas de manera responsable con
                    nuestros programas de educación financiera gratuitos.
                  </li>
                  <li>
                    Contribuye al desarrollo de tu comunidad: Forma parte de una
                    comunidad financiera solidaria que apoya el desarrollo
                    local.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div
        class="footer"
        style="
          background-color: rgb(238, 195, 232);
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <h2>Equipo del Proyecto</h2>
        <div
          class="container"
          style="display: flex; justify-content: space-between"
        >
          <div class="team" style="display: flex; flex-wrap: wrap; width: 500px;">
            <div class="team-member" style="margin: 10px; text-align: center">
              <h3>Sarahy Ocanto <br> C.I: 30.140.127</h3>            
              <h3>Norlys Castañeda <br> CI. 20.597.586</h3> 
              <h3>Maria Molina <br> C.I: 27.229.410</h3> 
              <h3>Juan Pablo Castro <br> C.I: 30.771.665</h3> 



            </div>
          </div>
          <div
            class="info"
            style="display: flex; flex-direction: column; width: 100%"
          >
            <h3>Profesor <br> Roberto D Michele</h3>
            <h3>Materia: <br> Backend </h3>
          </div>
          <div class="logo-container" style="text-align: center">
            <img
              src="./imagen/logo-color universidad.png"
              alt="logo"
              class="logo"
              style="width: 200px; margin-top: 20px"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
